@media screen and (max-width: 1730px) {
  .container {
    max-width: 1730px;
  }
  .header-left img {
    width: 125%;
  }
  .list,
  .log,
  .started {
    font-size: 1.2rem;
  }
  .started {
    width: 12rem;
  }
  .text-container h1 {
    font-size: 4.7rem;
  }
  .text-container p {
    font-size: 1.9rem;
  }
  .employers,
  .candidates {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .header-left img {
    width: 100%;
  }
  .list,
  .log,
  .started {
    font-size: 20px;
  }
  .started {
    width: 194px;
    height: 65px;
  }
  .text-container h1 {
    font-size: 68px;
  }
  .text-container p {
    font-size: 24px;
  }
  .employers,
  .candidates {
    font-size: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
@media screen and (max-width: 1350px) {
  .container {
    max-width: 1350px;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 1250px;
  }
  .header-left img {
    width: 85%;
  }
  .log,
  .started,
  .list {
    font-size: 1.2rem;
  }
  .list {
    gap: 50px;
  }
  .started {
    width: 10.5rem;
  }
  .text-container h1 {
    font-size: 3.9rem;
  }
  .text-container p {
    font-size: 1.6rem;
  }
  .employers,
  .candidates {
    font-size: 1rem;
  }
}
@media screen and (max-width:1187px) {
  .container {
    max-width: 1177px;
  }
  .header-left img {
    width: 7rem;
  }
  .list,.log,.started{
    font-size: 1rem;
  }
}
@media screen and (max-width: 1150px) {
  .container {
    max-width: 1150px;
  }
  .header-left img {
    width: 80%;
  }
  .log,
  .list,
  .started {
    font-size: 0.9rem;
  }
  .started {
    width: 10rem;
  }
  .text-container {
    width: 100%;
  }
  .text-container h1 {
    font-size: 3.6rem;
  }
  .text-container p {
    font-size: 1.48rem;
  }
  .employers,
  .candidates {
    font-size: 1.15rem;
  }
}
@media screen and (max-width:1074px) {
  .container {
    max-width: 1074px;
  }

}
@media screen and (max-width: 1020px) {
  .container {
    max-width: 1020px;
  }
}
@media screen and (max-width: 990px) {
  .container {
    width: 990px;
  }
  .text-container p {
    font-size: 1.37rem;
  }
  .list {
    gap: 30px;
  }
}
@media screen and (max-width: 906px) {
  .container {
    max-width: 906px;
  }
  .header {
    justify-content: space-between;
  }
  .list,
  .log,
  .started {
    display: none;
  }
  .menu-bar {
    display: inline-block;
  }
  .text-container h1 {
    font-size: 3.1rem;
  }
  .text-container p {
    font-size: 1.3rem;
  }
  .employers,
  .candidates {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 900px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (max-width: 895px) {
  .container {
    max-width: 895px;
  }
}
@media screen and (max-width: 750px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    max-width: 600px;
  }
}
@media screen and (max-width: 450px) {
  .container {
    max-width: 450px;
  }
  .header-left img {
    width: 70%;
  }
  .text-container h1 {
    font-size: 2.35rem;
  }
  .text-container p {
    font-size: 1rem;
  }
  .button-container {
    width: 100%;
  }
  .employers,
  .candidates {
    font-size: 0.9rem;
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .container {
    max-width: 425px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    max-width: 400px;
  }
  .text-container h1 {
    font-size: 2.28rem;
  }
  .text-container p {
    font-size: 0.95rem;
  }
  .employers,
  .candidates {
    font-size: 0.9rem;
  }
}
