/* standard thing */
* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}
/* var */
:root {
  /* color */
  --clr-blue: #032170;
  --clr-light-blue: #0b3299;
  --clr-dark-blue: #031957;
  --clr-darker-blue: #00113f;
  --clr-candidate-blue: #00154b;
  --clr-light: #f4f6fb;
  --clr-feature-background: #f4f6fb;
  --clr-grey: #42454a;
  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}
/* global css */
.btn {
  border: 3px solid white;
  cursor: pointer;
  transition: box-shadow 0.15s;
}
.btn-2 {
  background-color: var(--clr-dark-blue);
  color: white;
  transition: box-shadow 0.15s;
  cursor: pointer;
  border: none;
}
.btn-2:hover {
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
}
/* boxes */
.box-1 {
  width: 100%;
  height: 911px;
  background-color: var(--clr-light);
  background-image: url(../img/cover-bg.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.box-2 {
  width: 100%;
  height: 2886px;
  background-color: var(--clr-dark-blue);
  overflow: hidden;
}
.box-3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1619px;
  background-color: var(--clr-darker-blue);
  overflow: hidden;
}
.box-4 {
  width: 100%;
  overflow: hidden;
}

.box-6 {
  width: 100%;
  background-image: url(../img/the-end-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.box-7 {
  height: 639px;
  background-color: var(--clr-blue);
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.box-8 {
  height: 148px;
  background-color: var(--clr-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.box-9 {
  width: 100%;
  height: 2211px;
  overflow: hidden;
  background-color: var(--clr-light);
}
.box-10 {
  width: 100%;
  height: 1448px;
  background-color: var(--clr-candidate-blue);
  overflow: hidden;
}
/* header */
.header {
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list {
  display: flex;
  align-items: center;
  gap: 84px;
}
.list a {
  text-decoration: none;
  color: black;
  font-size: var(--size-base);
}
.log {
  border: none;
  background-color: transparent;
  margin-right: 36px;
  font-size: var(--size-base);
  cursor: pointer;
}
.started {
  width: 160px;
  height: 65px;
  border-radius: 10px;
  font-weight: 700;
  background-color: var(--clr-blue);
  color: white;
  font-size: var(--size-base);
}
.started a {
  text-decoration: none;
  color: white;
}
.menu-bar {
  border: none;
  background-color: transparent;
  display: none;
}
/* hero */
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 825px;
}
.big-header-text {
  color: var(--clr-light-blue);
  text-align: center;
  font-size: var(--size-7xl);
  font-style: normal;
  font-weight: 700;
  line-height: 109.1%; /* 74.188px */
  letter-spacing: -2.72px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
}
.big-bottom-text {
  color: black;
  text-align: center;
  font-size: var(--size-2xl);
  font-style: normal;
  font-weight: 400;
  line-height: 128.6%; /* 30.864px */
}
.employers {
  width: 246px;
  height: 65px;
  border-radius: 10px;
  background: #bacdd1;
  color: var(--clr-light-blue);
  font-weight: 700;
  font-size: var(--size-xl);
}
.candidates {
  width: 246px;
  height: 65px;
  border-radius: 10px;
  border: 3px solid #fff;
  background: #032170;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: var(--size-xl);
}
/* channel-page */
/* channel-1 */
.channel-1 {
  height: 845px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo-text {
  color: #fff;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  font-size: 49px;
  font-weight: 700;
  line-height: 109.1%; /* 53.459px */
  letter-spacing: -1.96px;
}
.button-logo {
  width: 321px;
  height: 86px;
  color: #0b3299;
  font-size: 49px;
  font-weight: 700;
  line-height: 109.1%;
  letter-spacing: -1.96px;
  border-radius: 12px;
  background-color: white;
  border: none;
}
.frame-container {
  margin-right: 24px;
}
.frame {
  width: 750px;
  height: 116px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 17px;
}
.info-container {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  gap: 8px;
}
.name-container {
  color: rgba(41, 41, 41, 1);
  font-weight: 700;
  font-size: var(--size-xl);
  display: flex;
  align-items: center;
  gap: 4px;
}
.profile-pic {
  margin-left: 51px;
}
.info-list {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 9px;
}
.list-child {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #292929;
}
.frame-button-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 20px;
}
.application {
  display: flex;
  padding: 11px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}
.banner {
  width: 36px;
  height: 41px;
  border-radius: 8px;
  background-color: #d8d8d8;
  border: none;
}
.text-container {
  width: 100%;
}
.header-text {
  font-size: var(--size-5xl);
  font-weight: 700;
  color: white;
  line-height: 114.1%;
  letter-spacing: -3px;
}
.bottom-text {
  font-weight: 400;
  color: white;
  font-size: var(--size-2xl);
  line-height: 128.6%;
}
/* channel-2 */
.channel-2 {
  height: 751px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.candidate-profile-container {
  width: 600px;
  height: 291px;
  position: relative;
}
.candidate-profile {
  width: 572px;
  height: 204px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover-1 {
  width: 543px;
  height: 214px;
  border-radius: 10px;
  position: absolute;
  background-color: #f1f4fb;
  transform: translate(3%, 10%);
}
.cover-2 {
  width: 490px;
  height: 186px;
  border-radius: 10px;
  background-color: #ced8f3;
  position: absolute;
  transform: translate(7%, 42%);
}
.candidate-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.candidate-pic {
  margin-right: 20px;
}
.candidates-list {
  display: flex;
  gap: 16px;
  margin-top: 11px;
  margin-bottom: 13px;
}
.candidate-child-list {
  text-align: center;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #292929;
}
.candicate-name-container {
  color: rgba(41, 41, 41, 1);
  font-weight: 700;
  font-size: var(--size-xl);
  display: flex;
  align-items: center;
  gap: 4px;
}
.candidate-button {
  width: 100%;
  height: 41px;
  border-radius: 10px;
  font-weight: 700;
  font-size: var(--size-lg);
}
.header-text-2 {
  font-size: var(--size-5xl);
  line-height: 128.6%; /* 64.3px */
  letter-spacing: -2.5px;
}
/* channel-3 */
.channel-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-container-2 {
  width: 634px;
}
.pic-container img {
  width: 700px;
}
/* channel-4 */
.channel-4 {
  height: 575px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-container-3 {
  width: 804px;
}
.pic-container-2 img {
  width: 700px;
}
/* intro-container */
.intro {
  display: flex;
  align-items: center;
}
.pic-container-3 img {
  width: 650px;
}
.text-container-4 {
  height: 965px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 77.67px;
}
.header-text-3 {
  color: #fff;
  font-size: var(--size-4xl);
  font-weight: 700;
  letter-spacing: -2.25px;
  margin-bottom: 15px;
}
.bottom-text-3 {
  color: #fff;
  font-size: var(--size-xl);
  font-weight: 400;
  line-height: 128.6%;
  letter-spacing: -1.4px;
}
/* intro */
.feature-logo {
  color: #0f0f0f;
  font-size: 58px;
  font-weight: 700;
  line-height: 109.1%; /* 63.278px */
  letter-spacing: -2.32px;
  margin-left: 81px;
  margin-top: 50px;
}
.feature-underline {
  width: 96px;
  height: 20px;
  border-radius: 22px;
  border: none;
  background-color: var(--clr-dark-blue);
}
.feature-board {
  height: 1789px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 85px;
}
.feature-container {
  width: 600px;
  height: 853px;
  border-radius: 25px;
  background-color: var(--clr-feature-background);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 42px;
}
.feature-header-text {
  color: #0331ac;
  text-align: center;
  font-size: var(--size-5xl);
  font-weight: 700;
  line-height: 128.6%; /* 57.87px */
  letter-spacing: -2.25px;
}
.feature-bottom-text {
  color: black;
  text-align: center;
  font-size: var(--size-base);
  font-weight: 400;
  line-height: 129.1%; /* 23.238px */
  margin-bottom: 21px;
}
.learn {
  width: 229.573px;
  height: 44.23px;
  border-radius: 10px;
  border: 3px solid #032170;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #032170;
  font-size: var(--size-xl);
  cursor: pointer;
  font-weight: 700;
  margin: 0 auto;
  transition: box-shadow 0.15s;
}
.learn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.intro-benefit {
  height: 922px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-text-4 {
  color: var(--clr-light-blue);
  font-size: var(--size-5xl);
  font-weight: 700;
  line-height: 99.6%; /* 66.732px */
  letter-spacing: -4.355px;
}
.benefit-board {
  height: 729px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}
.benefit-container {
  width: 460px;
  height: 332px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 17px 21px 45px 11px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefit-header-text {
  color: #032170;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 129.1%; /* 32.275px */
  letter-spacing: -1px;
  margin-bottom: 20px;
  margin-left: 35px;
}
.benefit-bottom-text {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 129.1%; /* 23.238px */
  letter-spacing: -0.72px;
  margin-left: 33px;
}
.ending {
  height: 925px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ending-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.end-header-text {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: 99.6%; /* 69.72px */
  letter-spacing: -4.55px;
}
.end-bottom-text {
  color: #fff;
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  line-height: 99.6%; /* 37.848px */
  letter-spacing: -2.47px;
}
.end-started-button {
  width: 293px;
  height: 65px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  margin-top: 37px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}
.end-started-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* footer place */
.footer-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 60px;
}
.credit-text {
  color: #fff;
  font-size: var(--size-2xl);
  font-weight: 400;
  line-height: 121.1%; /* 33.908px */
  letter-spacing: -1.82px;
  margin-bottom: 30px;
}
.credit-header-text {
  color: #fff;
  font-size: var(--size-2xl);
  font-weight: 700;
  line-height: 121.1%; /* 33.908px */
  letter-spacing: -1.82px;
  margin-bottom: 18px;
}
.credit-logo {
  margin-bottom: 38px;
}
.credit-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.credit-list a {
  display: block;
  text-decoration: none;
  transition: all 0.4s ease;
  color: #fff;
}
.credit-list a:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #fff;
}
/* last-footer */
.footer-1 {
  text-align: center;
}
/* pricing-page */
.pricing-page {
  height: 2211px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing-text-container {
  margin-left: 40px;
  align-self: flex-start;
}
.for-employers {
  color: #032170;
  font-size: var(--size-2xl);
  font-weight: 700;
  margin-top: 50px;
}
.pricing-text {
  color: #000;
  font-size: var(--size-5xl);
  font-weight: 700;
  letter-spacing: -3.9px;
}
.pricing-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin-top: 85px;
}
.pricing-container-1 {
  width: 546px;
  height: 650px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.pricing-container-2 {
  width: 546px;
  height: 870px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.pack-info {
  width: 422px;
  height: 114px;
  border-bottom: 2px solid #eaeaea;
  margin-top: 70px;
  margin-bottom: 22px;
}
.name-pack {
  color: #42454a;
  font-size: 30px;
  font-weight: 700;
  line-height: 128.6%; /* 38.58px */
  letter-spacing: -1.5px;
}
.price {
  color: #032170;
  font-size: 50px;
  font-weight: 700;
  line-height: 129.1%; /* 64.55px */
  letter-spacing: -2px;
}
.feature {
  height: 37px;
  color: #42454a;
  font-size: 20px;
  font-weight: 700;
  line-height: 128.6%; /* 25.72px */
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.feature-list {
  width: 427px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.feature-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.try-and-started {
  width: 488px;
  height: 57px;
  color: #fff;
  text-align: center;
  font-size: var(--size-xl);
  font-weight: 700;
  line-height: 128.6%; /* 33.436px */
  letter-spacing: -1.3px;
  border-radius: 15px;
  margin-bottom: 31px;
  border: 5px solid #fff;
}
.special-1 {
  margin-top: 164px;
  margin-bottom: 31px;
}
.special-2 {
  margin-top: 60px;
}
/* candidate-pricing-page */
.candidate-price-pack {
  height: 1448px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.candidate-text-container {
  margin-top: 70px;
}
.for-candidate {
  color: #fff;
  text-align: center;
  font-size: var(--size-2xl);
  font-weight: 700;
  margin-bottom: 30px;
}
.candidate-pricing-text {
  color: #fff;
  text-align: center;
  font-size: var(--size-6xl);
  font-weight: 700;
  letter-spacing: -3.9px;
}
.candidate-pricing-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin-top: 70px;
}
.candidate-price-container {
  width: 600px;
  height: 800px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.candidate-pack-info {
  width: 422px;
  height: 114px;
  border-bottom: 2px solid #eaeaea;
  margin-top: 70px;
  margin-bottom: 22px;
}
.get-started {
  width: 560px;
  height: 57px;
  border-radius: 15px;
  border: 5px solid white;
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 128.6%; /* 33.436px */
  letter-spacing: -1.3px;
  margin-bottom: 38px;
}
/* login-and-signup-form */
.form-container {
  max-width: 320px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--clr-grey);
}
.form-container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input-box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
  color: #333;
}
.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.input-box i.password,
.input-box i.email {
  left: 0;
  color: #707070;
}
.input-box input:focus {
  border-color: var(--clr-blue);
}
.input-box i.pw-hide {
  cursor: pointer;
  right: 0;
  font-size: 18px;
  color: #707070;
}
.option-field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-container a {
  color: var(--clr-blue);
  font-size: 12px;
}
.form-container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  white-space: nowrap;
  column-gap: 8px;
}
.checkbox input {
  accent-color: var(--clr-blue);
}
.checkbox label {
  font-size: 12px;
  user-select: none;
  color: #0b0217;
  cursor: pointer;
}
.form-container .button {
  color: white;
  background-color: var(--clr-blue);
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
}
.login-signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  border: 3px solid #fff;
}
.form-container.active .signup-form{
  display: block;
}
.form-container.active .login-form {
  display: none;
}
.signup-form {
  display: none;
}