* {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow-y: hidden;
}
.box-1 {
  width: 100%;
  height: 911px;
  background-color: #f4f6fb;
}
.header {
  width: 100%;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
}
.list {
  display: flex;
  gap: 84px;
  text-align: center;
}
.list a {
  text-decoration: none;
  color: black;
}
.log {
  border: none;
  background-color: #f4f6fb;
  margin-right: 35px;
  cursor: pointer;
}
.started {
  width: 194px;
  height: 65px;
  background-color: #032170;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  transition: box-shadow 0.15s;
  font-weight: bold;
  cursor: pointer;
}
.started:hover {
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}
.menu-bar {
  display: none;
}